<style>
.icon {
    width: 100px;
    height: 100px;
    overflow: visible;
}
svg {
    height:100%;
    width: 100%;
    transition-property: transform, filter;
    transition-duration: .3s;
    transition-timing-function: ease;
    object-fit: cover;
    filter: grayscale(100%);
}

.hover:hover {
  transform: scale(1.16);
  filter: grayscale(0);
}

</style>
<div class="container">
    <div class="row">
        {% for skill in site.data.skills %}
        <div class="col d-flex align-items-center justify-content-center flex-column">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" class="hover">  
                    <use href="{{ '/assets/logos/icons.svg' | relative_url }}#{{skill}}" />
                </svg>
            </div>
            <span class="text-uppercase">{{ skill }}</span>
        </div>
        {% endfor %}
    </div>
</div>