@use 'utilities';

$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  width: 100%;
  height: 100%;
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: salmon;
  --bs-popover-header-bg: #191919;
  --bs-popover-header-color: salmon;
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}

.accordion-button {
  color: rgb(65, 99, 125);
  align-self: flex-end;
  &::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='currentColor' class='bi bi-plus-lg' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z'/%3E%3C/svg%3E");
    transition: all .4s;
  }
  &:not(.collapsed) {
    color: #333;
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='currentColor' class='bi bi-dash-circle' viewBox='0 0 16 16'%3E%3Cpath d='M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z'/%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
    }
  }
}
.popup {
  z-index: 999;
  background-color: rgba(0, 0, 0, .8);
  position: fixed;
  left: 0;
  top: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 40px;
  overflow: auto;
  & img {
    width: 100%;
    height: fit-content;
    margin: auto;
    object-fit: cover;
  }
}

.close {
  background-color: #f00;
  border: none;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 25px;
  padding: 10px 25px;
  color: #fff;
  position: absolute;
  top: 5px;
  left: 50%;
}


img[alt='logo'] {
  animation: pulse 0.6s infinite alternate;
}

@keyframes pulse {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(2px,6px);
  }
}