<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ page.title }}
            -
            {{ site.title }}</title>
        <!-- CDN CSS bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" crossorigin="anonymous" referrerpolicy="no-referrer">
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    </head>

    <body>
        {% include navigation.html %}
        <!-- HERO SECTION -->
        <div class="bg-dark text-secondary px-4 pt-5" style="height: 80vh;">
            <div class="py-5 text-center">
              {% include popover.html
                src="https://raw.githubusercontent.com/EniDev911/assets/e37b929320fcd9976545dc2738f3aa21dbbecc37/png/logo/logo_con_bg.png"
              %}
                <h1 class="display-5 fw-bold text-white">{{ page.title }}</h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-3 mb-4" style="color: lightsalmon;">
                        {{ page.subtitle }}
                    </p>
                </div>
            </div>
            <div class="bg-body shadow col-12 col-lg-9 mx-auto p-4 min-vh-100">
                <div class="overflow-hidden">
                    {{ content }}
                </div>
            </div>
        </div>
        <!-- CDN JS bootstrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/6b8f0c7049.js" crossorigin="anonymous"></script>
        <script>
            var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
            var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl)
            })
        </script>
        <script src="{{ '/assets/js/popup.js' | relative_url }}"></script>
        <script>
    
            document.onreadystatechange = () => {
                if (document.readyState === "complete") {
                    localStorage.getItem('lang') ? changeLang(localStorage.getItem('lang')) : changeLang('es')
                }
            }
            const textsToChange = document.querySelectorAll("[data-section]");
            const changeLang = async language => {
                const requestJSON = await fetch(`./assets/langs/${language}.json`),
                    data = await requestJSON.json();
                textsToChange.forEach(textToChange => {
                    const section = textToChange.dataset.section,
                        value = textToChange.dataset.value;
                    textToChange.innerHTML = data[section][value];
                })
            }
            changeLang('es')

            document.addEventListener("keydown", function (e) {
                if (e.keyCode == 13) {
                    toggleFullScreen();
                }
            }, false);

            function toggleFullScreen() {
                if (!document.fullscreenElement) {
                    document.documentElement.requestFullscreen();
                } else {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    }
                }
            }
        </script>
    </body>
</html>
